<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.23/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="../Assets/CSS/Common.css">
    <link rel="stylesheet" href="../Assets/CSS/Dashboard.css">
    <title>NHSX</title>
</head>
<body>
    
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.23/dist/sweetalert2.all.min.js"></script>
  <script src="../Assets/Scripts/Dashboard.js"></script>
</body>
</html>