<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/CSS/Common.css">
    <link rel="stylesheet" href="../Assets/CSS/ProjectState.css">
    <title>NHSX</title>
</head>
<body>

  <h1>ProjectState</h1>
    
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="../Assets/Scripts/Data/projectstate.js"></script>
  <script src="../Assets/Scripts/ProjectState.js"></script>
</body>
</html>